html {
    background-color: black;
    text-align: center;
    display: flex;
    
}

body {
    width: 100%;
    margin: 1px 12px;
    padding: 1px;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    clear: both;
}
a {
    color: aquamarine;
    font-size: 16px;
    overflow: hidden;
    float: bottom;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
 h3 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 21px;
     color: gray;
 }

 .camp-img {
    width: 100%;
 }

 .phone-img {
    overflow: hidden;
 }

 footer {
     text-align: right;
     color: gray;
     font-size: 1.2em;
 }